/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/
body {

	font-family: 'Work Sans';
	font-size: 14px;
	margin: 100px;
	padding: 0;

}

* {
	box-sizing: border-box;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 60px 0;


}

/******mode ADMIN EDITION******/

/*******BANNER*******/
.editor__banner {
	visibility: hidden;
	top: 0;
	left: 0;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 50px;
	background-color: black;
}

.editor__banner--visible {
	visibility: visible;
}

#editor__banner_icone {
	margin-right: 5px;
}

.editor__banner--btn {
	color: white;
	text-decoration: none;
	text-align: center;
	font-family: work sans;
	font-weight: 400;
	font-size: 16px;
}

.editor--btn--modifier {
	visibility: hidden;
	display: flex;
	color: black;
	text-decoration: none;
	font-size: 14px;
	font-weight: 400;
	justify-content: center;
	align-items: center;
	margin-top: -20px;
	cursor: pointer;
	border-style: none
}

.editor--btn--modifier--visible {
	visibility: visible;
}



.editor_icone--modifier {
	visibility: hidden;
	display: flex;
	color: black;
	font-size: 14px;
	border-style: none;
	margin-right: 10px;
}

.editor_icone--modifier--visible {
	display: flex;
	color: black;
	font-size: 14px;
	border-style: none;
	margin-right: 10px;
}

/**********MODAL ELEMENTS PARTAGES**********/
.modal {
	position: fixed;
	overflow: hidden;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.30);
	display: flex;
	align-items: center;
	justify-content: center;
	animation: fadeIn .3s both;
}

.modal-wrapper {
	border-radius: 10px;
	background-color: white;
	width: 640px;
	/* 	height: 688px;
 */
	height: 90vh;
	padding: 20px;
	max-width: calc(100vh - 20px);
	/* 	max-height: calc(100vh - 20px);
 */
	overflow: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	animation: slideFromTop .5s both;
}

.modal_gallery figure {
	position: relative;
	display: block;
}

.modal_gallery figure img {
	object-fit: cover;
	height: 104px;
	max-height: 104px;
	max-width: 76px;
}

.modal_gallery figure span {
	width: 50px;
	height: 5px;
	background-color: grey;
}

.modal_gallery figure i {
	position: absolute;
	font-size: 11px;
	color: white;
	background-color: black;
	border-radius: 2px;
	width: 17px;
	height: 17px;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 5px;
	right: 5px;
}

.js-modal-close {
	position: absolute;
	color: black;
	font-size: 20px;
	right: 5%;
	border-style: none;
	position: absolute;
	cursor: pointer;
}

.greybar {
	width: 60%;
	border-top: 2px solid #B3B3B3;
}



/**********ANIMATION MODAL**********/
.modal[aria-hidden="true"] {
	animation: fadeOut .5s both;
}

.modal #modal--ajout {
	animation: none;
}

.modal[aria-hidden="true"] .modal-wrapper {
	animation: slideToBottom .5s both;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
		display: flex;
	}

	to {
		opacity: 0;
		display: flex;
	}
}

@keyframes slideFromTop {
	from {
		transform: translateY(-50px);
	}

	to {
		transform: translateY(0px);
	}
}

@keyframes slideToBottom {
	from {
		transform: translateY(0px);
		display: flex;
	}

	to {
		transform: translateY(50px);
		display: flex;
	}
}




/**********ELEMENTS MODAL ORIGIN(first modal)*********/
#titlemodal {
	display: flex;
	justify-content: center;
	margin-top: 40px;
	font-family: work sans;
	font-size: 26px;
	font-weight: 400;
	color: black;
}

#titlemodal--ajout {
	display: flex;
	justify-content: center;
	margin-top: 40px;
	font-family: work sans;
	font-size: 26px;
	font-weight: 400;
	color: black;
}

.modal_gallery {
	/* width: 100%; */
	display: grid;
	/* 	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
 */
	grid-template-columns: 76px 76px 76px 76px 76px;
	column-gap: 8px;
	grid-row-gap: 20px;
	/* 	padding: 30px 20px;
*/
	padding: 40px 20px;
}

.gallery img {
	width: 100%;
}

#btn_ajout {
	/* 	position: absolute;
	top: 85%; */
	width: 237px;
	height: 36px;
	color: #1D6154;
	font-family: Syne;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	border-radius: 60px;
	border: 1px solid #1D6154;
	background-color: white;
	cursor: pointer;
	padding: 7px 20px 10px 20px;
	transition: 0.3s;
	margin-top: 20px;
}

#btn_ajout:hover {
	background-color: #1D6154;
	color: white;
}


/* ID FILE opacity 0 car on ne veut pas voir le bouton, mais on veut pouvoir cliquer dessus. De base j'ai utilisé un bouton et le file n'accepet que les input*/
#file {
	opacity: 0;
	width: 0.1px;
	height: 0.1px;
}

#preview {
	max-height: 100%;
	object-fit: cover;
	max-width: 100%;
	max-height: 100%;
}

/**********ELEMENTS MODAL AJOUT**********/
.js-arrow {
	position: absolute;
	color: black;
	font-size: 20px;
	left: 5%;
	border-style: none;
	position: absolute;
	cursor: pointer;
}

.cadre-ajouter--photo {
	margin-top: 25px;
	width: 420px;
	height: 170px;
	background-color: #E8F1F6;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 20px;
}

#btn--ajouterphoto1 {
	stroke-width: 0;
	font-size: 60px;
	border: none;
	max-width: 100%;
	max-height: 100%;
	background: transparent;
}

#btn--ajouterphoto2 {
	position: absolute;
	margin-top: 95px;
	width: 170px;
	height: 36px;
	color: #306685;
	font-family: Work sans;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	border-radius: 60px;
	background-color: #CBD6DC;
	cursor: pointer;
	transition: 0.3s;
	border: none;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

#p-ajout {
	font-family: Work Sans;
	font-weight: 400;
	font-Size: 10px;
	text-align: center;
	color: #444444;
	margin-top: 60px;
}

#form--ajout {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#titre-label {
	margin-left: 50px;
}


#categorie-label {
	margin-left: 50px;
}

#titre {
	width: 420px;
	height: 50px;
	background-color: white;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.2);
	border: none;
	margin: 25px 50px;
	display: flex;
	justify-content: center;
}

#categorie {
	width: 420px;
	height: 50px;
	background-color: white;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.2);
	border: none;
	margin: 25px 50px;
	display: flex;
	justify-content: center;
}

#btn_valider {
	position: absolute;
	top: 90%;
	width: 237px;
	height: 36px;
	color: white;
	font-family: Syne;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	border-radius: 60px;
	background-color: #A7A7A7;
	cursor: pointer;
	padding: 7px 20px 10px 20px;
	transition: 0.3s;
	border: none;
}

#btn_ajout2:hover {
	background-color: #1D6154;
	color: white;
}

#error2 {
	visibility: visible;
	opacity: 1;
	margin: 20px 20px 0 0;
	text-align: center;
	font-weight: 700;
	color: #B1663C;
}

/*************************************/



section {
	margin: 50px 0
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1>span {
	font-family: 'Work Sans';
	font-size: 10px;
	letter-spacing: 0.1em;
	;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}

#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#editor__formodif {
	display: flex;
	justify-content: center;
	align-items: center;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 40px;

}


/*----------------------------------
    BOUTONS FILTRES CATEGORY
------------------------------------*/
.filter_container--hidden {
	visibility: hidden;
}

.filter_container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
	margin: 40px;
}

.filter_container .button--hiden {
	visibility: hidden;
}

.filter_container .button {
	height: 37px;
	color: #1D6154;
	font-family: Syne;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	border-radius: 60px;
	border: 1px solid #1D6154;
	background-color: white;
	width: fit-content;
	cursor: pointer;
	padding: 7px 20px 10px 20px;
	transition: 0.3s;
}


.filter_container .button:hover,
.filter_container .button.active {
	background-color: #1D6154;
	height: 37px;
	color: white;
	font-family: Syne;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	border-radius: 60px;
}



/*----------------------------------
              GALERY
------------------------------------*/

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
}

/*----------------------------------
              éléments données
------------------------------------*/



#contact {
	width: 50%;
	margin: auto;
}

#contact>* {
	text-align: center;
}

#contact h2 {
	margin-bottom: 20px;
}

#contact form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
	transition: 0.3s;
}

input:hover[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #0E2F28;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
}

a {
	display: flex;
	justify-content: center;
	color: #3D3D3D;
	font: inherit;
	font-weight: 500;
	font-size: 14px;
	line-height: 16.42px;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}